.App {
  text-align: left;
  font-family: Arial, sans-serif;
}

.Header nav ul {
  list-style-type: none;
  padding: 0;
}

.Header nav ul li {
  display: inline;
  /* display:flex; */
  margin-right: 10px;
}

.About, .Projects, .Contact {
  margin: 20px 0;
}

.Footer {
  background-color: #f1f1f1;
  padding: 10px;
}
