/* .App {
  text-align: left;
  font-family: Arial, sans-serif;
  background-color: #e7e7d9;
  margin: 0;
  padding: 0;
} */

#about {
  margin-top: 80px; /* Adjust the value based on your header height */
}
html {
  scroll-behavior: smooth;
}

/* Reset body margin and padding */
body {
  margin: 0;
  padding: 0;
}